{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guess Game</title>
    <link rel="stylesheet" href="{% static  'guess_game_app/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Guess Game!</h1>

        <p>I'm thinking of a number between 1 and 100. Try to guess it.</p>

        <form method="post">
            {% csrf_token %}
            <label for="guess">Your guess:</label>
            <input type="number" id="guess" name="guess" value="{{ current_number }}">
            <button type="submit">Submit</button>
        </form>

        {% if result %}
            <p class="{{ class }}">Your guess was {{ result }}.</p>
        {% endif %}

    </div>

</body>
</html>